* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    /* transition: all 1s; */
    color: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(108, 117, 125);
    perspective: 500px;
    transform-style: preserve-3d;
    overflow: hidden;
}

.room {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10000px;
    height: 10000px;
    transform-style: preserve-3d;
    border: 5px solid black;
}

.wall {
    position: absolute;
    width: 10000px;
    height: 10000px;
}

.wall:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.5);
    transform: translateZ(-5000px);
    background: url("img/0.jpg");
    background-size: cover;
    background-position: center;
}

.wall:nth-child(2) {
    background-color: rgba(255, 136, 0, 0.541);
    transform: translateY(5000px) rotateX(90deg) rotateZ(90deg);
    background: url("img/4.jpg");
    background-size: cover;
    background-position: center;
}

.wall:nth-child(3) {
    background-color: rgba(255, 230, 0, 0.514);
    transform: translateY(-5000px) rotateX(270deg) rotateZ(-90deg);
    background: url("img/5.jpg");
    background-size: cover;
    background-position: center;
}

.wall:nth-child(4) {
    background-color: rgba(0, 255, 42, 0.493);
    transform: translateX(-5000px) rotateY(90deg);
    background: url("img/3.jpg");
    background-size: cover;
    background-position: center;
}

.wall:nth-child(5) {
    background-color: rgba(0, 102, 255, 0.555);
    transform: translateX(5000px) rotateY(270deg);
    background: url("img/1.jpg");
    background-size: cover;
    background-position: center;
}

.wall:nth-child(6) {
    background-color: rgba(204, 0, 255, 0.555);
    transform: translateZ(5000px) rotateY(180deg);
    background: url("img/2.jpg");
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

.alert {
    position: absolute;
    top: -50px;
    left: 50%;
    padding: 20px;
    transform: translateX(-50%);
    background-color: rgb(51, 51, 51);
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    opacity: 1;
    z-index: 999;
    transition-duration: 0.25s;
}

.cube {
    /* display: none !important; */
    position: relative;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube>ul {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.075s;
    transition: all ease-out;
    transform-style: preserve-3d;
}

.cube>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 300px;
    font-size: 200px;
    font-weight: bold;
    cursor: move;
    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid rgb(51, 51, 51);
    transition: all 1s;
}

.cube>ul>li>img {
    height: 100%;
}

.cube>ul>li:nth-child(1) {
    transform: translateZ(150px);
}

.cube>ul>li:nth-child(2) {
    transform: rotateY(90deg) translateZ(150px);
}


.cube>ul>li:nth-child(3) {
    transform: rotateY(180deg) translateZ(150px);
}

.cube>ul>li:nth-child(4) {
    transform: rotateY(270deg) translateZ(150px);
}

.cube>ul>li:nth-child(5) {
    transform: rotateX(90deg) translateZ(150px);
}

.cube>ul>li:nth-child(6) {
    transform: rotateX(-90deg) translateZ(150px);
}

.change {
    /* display: none !important; */
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    padding: 25px;
    background-color: rgba(30, 30, 30, 0.733);
    left: 0;
    z-index: 999;
}

.custom {
    display: none;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.change h1,
.change p {
    margin-bottom: 10px;
}

.change>div {
    width: 100%;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.change p {
    margin-bottom: 10px;
}

.change input[type="text"] {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
}

.change input[type="checkbox"] {
    margin-bottom: 20px;
}

.color {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.color>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color>ul>li {
    flex: 33%;
}

.color>ul>li>input {
    margin-bottom: 10px;
}

.theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.theme>button {
    width: 150px;
    height: 35px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    cursor: pointer;
}


.Test {
    /* display: none !important; */
    position: absolute;
    right: 0;
    width: 20vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.699);
    padding: 25px;
}

.test>p {
    margin-bottom: 10px;
}

.test>p>span {
    padding: 1px 5px;
}